{
    "arrowParens": "avoid",
    "tabWidth": 4,
    "semi": false,
    "overrides": [
        {
            "files": ["client/src/**/*.tsx"],
            "options": {
                "plugins": ["prettier-plugin-tailwindcss"]
            }
        }
    ]
}
